@import 'bootstrap/bootstrap';
@import 'mixins';

body {
  background: #fff;
}
.container {
  margin-top: 90px;
}
#photo-list {
  margin: 30px 0 0;

  .photo-item-outer {
    &.photo-item-enter {
      opacity: 0.1;
    }

    &.photo-item-enter.photo-item-enter-active {
      opacity: 1;
      transition: opacity 1000ms ease-in;
    }

    &.photo-item-leave {
      opacity: 1;
      max-width: 505px;
    }

    &.photo-item-leave.photo-item-leave-active {
      max-width: 0;
      opacity: 0.5;
      transition: opacity 500ms ease-in, max-width 1000ms ease-out;
    }
  }

  .photo-item {
    margin-bottom: 30px;
    position: relative;

    .photo {
      background-image: url('../assets/img/img-loading.png');
      background-position: 50% 50%;
      background-size: 100% auto;
      background-repeat: no-repeat;
      height: 170px;
      width: 245px;

      @include media-breakpoint-only(xs) {
        height: 240px;
        width: 505px;
      }
      @include media-breakpoint-only(sm) {
        height: 160px;
        width: 230px;
      }
      @include media-breakpoint-only(md) {
        height: 139px;
        width: 200px;
      }
      @include media-breakpoint-only(lg) {
        height: 194px;
        width: 290px;
      }
    }

    .add-to-favourites {
      color: #fff;
      font-size: 18px;
      right: 0;
      position: absolute;
      top: 0;

      &:hover {
        color: yellow;
      }
    }
    &.active {
      .add-to-favourites {
        color: yellow;
      }
    }
  }

  .loading-msg {
    font-size: 32px;
    margin: 20px 0;
    text-align: center;
  }
}
