@import 'bootstrap/bootstrap';
@import 'mixins';

body {
  background: #fff;
}

#photo-list {
  margin: 30px 0 0;

  .photo-item {
    margin-bottom: 30px;
    position: relative;

    .photo {
      background-position: 50% 50%;
      background-size: 100% auto;
      background-repeat: no-repeat;
      height: 170px;
      width: 100%;
    }

    .add-to-favourites {
      color: #fff;
      font-size: 18px;
      right: 0;
      position: absolute;
      top: 0;

      &:hover {
        color: yellow;
      }
    }
  }
}
