@import 'bootstrap/bootstrap';
@import 'mixins';

body {
  background: #fff;
}
.container {
  margin-top: 90px;
}
#photo-list {
  margin: 30px 0 0;

  .photo-item {
    margin-bottom: 30px;
    position: relative;

    .photo {
      background-position: 50% 50%;
      background-size: 100% auto;
      background-repeat: no-repeat;
      height: 170px;
      width: 100%;

      @include media-breakpoint-only(xs) {
        height: 240px;
      }
      @include media-breakpoint-only(sm) {
        height: 160px;
      }
      @include media-breakpoint-only(md) {
        height: 139px;
      }
      @include media-breakpoint-only(lg) {
        height: 194px;
      }
    }

    .add-to-favourites {
      color: #fff;
      font-size: 18px;
      right: 0;
      position: absolute;
      top: 0;

      &:hover {
        color: yellow;
      }
    }
    &.active {
      .add-to-favourites {
        color: yellow;
      }
    }
  }

  .loading-msg {
    font-size: 32px;
    margin: 20px 0;
    text-align: center;
  }
}
